*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.form{
    width: 83.5vw;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .form div{
    height: 110vh;
    width: 80vw;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  } 
  .form div span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .form span:nth-child(1){
    align-self: center;
    border: 1px #1D3557 solid;
    padding: 3vh;
    text-align: center;
    background-color: #1D3557;
    color: #ffffff;
    border-top-left-radius: 25px;
    border-bottom-right-radius:25px;
    box-shadow: 2px 2px 2px 2px #333333;
  }
  .form input{
    border: 0;
    background: none;
	  border-bottom: 1px solid #1D3557;
	  font-size: 18px;
    width: 20vw;
    height: 5vh;
    padding: 1vw;
    border-radius: 0.5vw;
  }
  .form input:focus{
    outline: none;
    box-shadow: 2px 2px 2px 2px #457B9D;
    transition: 0.5s ease-in-out;
  }
  .form .submit-button{
    height: 8vh;
  }
  .submit-button button{
    height: 8vh;
    text-align: center;
    background-color: #1D3557;
    border: 1px #1D3557 solid;
    border-top-left-radius: 25px;
    border-bottom-right-radius:25px;
    box-shadow: 2px 2px 2px 2px #333333;
    color: #F1FAEE;
    text-align: center;
    font-size: 20px;
  }