.sidebar {
  width: 15vw;
  border-right: 1px solid #6a85b6 ;
  height: 100vh;
  background-image: linear-gradient(to top, #5a5757 0%, #333333 100%);
}
.date-info {
  height: 50px;
  color: #ffffff;
}
.app-options {
  margin-top: 60px;
  width: 100%;
}
.app-options-group {
  display: flex;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  justify-content: flex-start;
}
.app-options-group div {
  padding: 0 10px;
  cursor: pointer; 
  color: #ffffff;
}

.app-options-group:hover {
  background-color: #8d9097;
  border-radius: 50px;
  width: inherit;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.main-content {
  display: flex;
  flex-direction: column;
}
.navbar {
  width: 85vw;
  height: 50px;
  background:#333;
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .app-options-group {
    pointer-events: none;
    display: flex;
    justify-content: center;
    border: none;
  }
  .app-options-group div:nth-of-type(2) {
    display: none;
  }
  .text-align {
    font-size: 0.8rem;
  }
}
