.sidebar {
  position: fixed;
  width: 15vw;
  border-right: 1px solid #f1faee;
  height: 100vh;
  background: #1d3557;
}

.date-info {
  height: 10vh;
  color: #f1faee;
}

.app-options {
  margin-top: 60px;
  width: 100%;
}

.app-options-group {
  display: flex;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  justify-content: flex-start;
}
.app-options-group svg {
  fill: white;
  font-size: 20px;
}

.app-options-group div {
  padding: 0 10px;
  cursor: pointer;
  color: #f1faee;
}

.app-options-group:hover {
  background-color: #8d9097;
  border-radius: 50px;
  width: inherit;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  width: 85vw;
  height: 10vh;
  margin-left: 15vw;
  /* z-index: 4; */
  background: #1d3557;
  color: #f1faee;
}
.iconBtn {
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 5px;
}
.iconBtn div {
  color: white;
  cursor: pointer;
}
.iconBtn svg {
  align-self: center;
  fill: white;
}
.main {
  width: 80vw;
  margin-top: 10vh;
  margin-left: 15vw;
}
@media screen and (max-width: 700px) {
  .app-options-group {
    pointer-events: none;
    display: flex;
    justify-content: center;
    border: none;
  }
  .app-options-group div:nth-of-type(2) {
    display: none;
  }
  .text-align {
    font-size: 0.8rem;
  }
}
