.sidebar {
  position: fixed;
  width: 15vw;
  border-right: 1px solid #6a85b6 ;
  height: 100vh;
  background-image: linear-gradient(to top, #5a5757 0%, #333333 100%);
}

.date-info {
  height: 10vh;
  color: #ffffff;
}

.app-options {
  margin-top: 60px;
  width: 100%;
}

.app-options-group {
  display: flex;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  justify-content: flex-start;
}

.app-options-group div {
  padding: 0 10px;
  cursor: pointer; 
  color: #ffffff;
}

.app-options-group:hover {
  background-color: #8d9097;
  border-radius: 50px;
  width: inherit;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  width: 85vw;
  height: 10vh;
  margin-left:15vw ;
  background:#333;
  color: #ffffff;
}

.main{
  height: 90vh;
  width: 85vw;
  margin-top: 10vh;
  margin-left: 15vw;
}
/* new added css */
/*************** for company profile and stats ************8*/
.company-profile{
  height: 90vh;
  width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* left column with employee details */
.left, .right{
  height: 90vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.employee-card{
  height: 90vh;
  width: 30vw;
  /* overflow-y: scroll; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile-card{ 
  align-self: center;
  height: 40vh;
  width: 20vw;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px #333;
  cursor: pointer;
  transition: 0.2s;
}
.card-image:hover{
    opacity: 0.4;
    transition:0.9s ease-in-out;
}
.emp-name-title {
  position: sticky;
  opacity: 0;
  background: #fff;
  width: 100%;
  height: 600vh;
  z-index: 3;
  padding: 10px;
  transition: 0.2s;
}
.emp-name-title h2{
  margin: 30px 0;
  padding: 0;
  text-align: center;
  color: #333;
}     
.emp-name-title span{
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}
.profile-card:hover .emp-name-title {
  bottom: 0;
  left: 0;
  transition-delay: 0.6s;
  opacity: 0.7;
}
/* right side of stats */
.right div:nth-child(1){
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 20vw;
  height: 40vh;
  box-shadow: 0 7px 18px #333333;
  border-radius: 10px;
  background-image: url('https://images.unsplash.com/photo-1529595354331-201ad3ae5e71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6114533e2d0c1c81534fe13611dbfd76&auto=format&fit=crop&w=658&q=80');
  color: #f36363;
}
.right div:nth-child(2){
  align-self: center;
  height: 33vh;
  width: 15vw;
  border-radius: 15vw;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  box-shadow: 0 7px 18px #333333;
}
div h2{
  align-self: center;
  padding: 20px;
  color: #cccccc;
}
.stats{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20vw;
  margin: 10px;
  border-top:1px #cccccc solid;
}
.stats p{
  width: 20vw;
  padding: 5px;
  border-bottom:1px #cccccc solid;
  color: #cccccc;
}

/* Css for view employee form */

.emp-details{
  width: 85vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



























@media screen and (max-width: 700px) {
  .app-options-group {
    pointer-events: none;
    display: flex;
    justify-content: center;
    border: none;
  }
  .app-options-group div:nth-of-type(2) {
    display: none;
  }
  .text-align {
    font-size: 0.8rem;
  }
}
