*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* main content of card and stats */

.main-page{
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.left, .right{
    width: 50vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left > div{
    align-self: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 35vh;
    width: 20vw;
    background-color: #333333;
}
.emp-img{
    align-self: center;
    border-radius: 6vw;
    height: 23vh;
}
.emp.info{
    height:35vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    
}
.emp-info p{
    margin: 5px;
    padding: 6px 3px;
    color: #cccccc;
}
.emp-info p:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 15px;
    bottom: 5px;
    color: #cccccc;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 1vh;
    width: 20vw;
    height: 40vh;
    background-color: #333333;
    color: #cccccc;
}
.right div:nth-child(2){
    height: 33vh;
    width: 15vw;
    position: relative;
    top: 1vh;
    border:27px #cccccc solid;
    border-radius: 15vw;
    background-color: #f36363;
}
div h2{
    align-self: center;
    padding: 20px;
    color: #cccccc;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20vw;
    margin: 10px;
    border-top:1px #cccccc solid;
}
.stats p{
    width: 20vw;
    padding: 5px;
    border-bottom:1px #cccccc solid;
    color: #cccccc;
}