img {
  width: 250px;
  height: 200px;
}

button {
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}

.info-parent {
  display: flex;
  justify-content: space-evenly;
}
.right-stats {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}
.card-group {
  display: flex;
  flex-direction: column;
}
.user-summary-card {
  height: 250px;
  width: 250px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-stats {
  height: 250px;
  width: 250px;
  background-color: #fff;
  position: fixed;
  top: 12%;
  cursor: pointer;
}

.info-pie {
  cursor: pointer;
  position: fixed;
  top: 60%;
  height: 250px;
  width: 250px;
  background-color: #fff;
  border-radius: 50%;
}
