*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.emp-details{
  width: 83.5vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.emp-details div{
  height: 110vh;
  width: 80vw;    
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} 
.emp-details div span{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.emp-details span:nth-child(1){
  align-self: center;
  border: 1px #1D3557 solid;
  padding: 3vh;
  text-align: center;
  background-color: #1D3557;
  color: #F1FAEE;
  border-top-left-radius: 25px;
  border-bottom-right-radius:25px;
  box-shadow: 2px 2px 2px 2px #333333;
}
.emp-details p{
  border: none ;
  box-shadow: 3px 7px 10px #333333;
  font-size: 18px;
  width: 20vw;
  
  padding: 5px;
  border-radius: 0.5vw;
  text-align: center;
}
.address-bar{
  width: 40vw !important;
}