.ui.cards {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 10px;
}

.card-inner-body {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  flex-wrap: wrap;
}
