.card-group {
  display: flex;
  flex-direction: column;
}
.user-summary-card{
  width: 60vw;
}
.info-parent {
  display: flex;
}
.info-stats {
  width: 33vw;
  position: fixed;
  
}
.info-stats li {
  padding: 10px;
  letter-spacing: 0.7px;
  list-style: none;
} 
.inner {
  overflow-y: scroll;
  height: 25vh;
}

.info-pie {
  cursor: pointer;
  position: fixed;
  top: 60%;
  height: 240px;
  width: 250px;
  background-image: conic-gradient(#ffffff 70deg, #e63946 0 235deg, #1d3557 0);
  border-radius: 50%;
  box-shadow: 6px 7px 10px #333333;
}
