@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #000000;
}
body {
  background-color: rgb(239, 255, 167);
}
.container {
  display: flex;
}
.text-align {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  border-bottom: 1px #6a85b6 solid;
}
