.payslip-inputs {
  display: flex;
  justify-content: space-around;
  /* height: 20vh; */
  margin-top: 2rem;
}
.view-ps-header {
  display: flex;
  justify-content: center;
}
ul.collapsible {
  margin: 0 auto;
  width: 65%;
}

.payslip-inputs input:focus,
.payslip-inputs select:focus,
.select-date input:focus {
  outline: none;
  box-shadow: 2px 2px 2px 2px #457b9d;
  transition: 0.5s ease-in-out;
}
.select-date {
  width: 60vw;
  height: 30vh;
  position: relative;
  left: 13vw;
  top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 4px #1d3557 solid;
  border-radius: 3vw;
  font-size: 25px;
  font-weight: bold;
}
.select-date div {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
input[type='date'] {
  height: 5vh;
  width: 13vw;
  margin: 0vh 1vh;
  padding: 1vw;
  border-radius: 2vw;
  border: none;
  cursor: text;
}
.select-date button {
  color: #f1faee;
  text-decoration: none;
  background: #1d3557;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.select-date button:hover {
  background: #999999;
  letter-spacing: 0.5px;
  transition: all 0.4s ease 0s;
}
